<div class='uk-grid'>
  <div class='uk-width-7-10 uk-container-center'>
	<table class='uk-table uk-table-hover'>
	  <tr>
	    <td>货款应到日期</td><td>货款实到日期</td><td>付款金额</td><td>应收账款</td><td>操作</td>
	  </tr>
	<?php 
		foreach($srow as $val){
	?>
	  <tr>
	    <td><?php echo $val['gsdate'] ?></td><td><?php echo $val['godate'] ?></td><td><?php echo $val['gom'] ?></td><td><?php echo $val['shom'] ?></td><td><a class='uk-button uk-button-mini' href="edit.php?type=upd&e=<?php echo $val[id] ?>" onclick=''>编辑</a></td>
	  </tr>
	<?php
		}
	?>
	  <tr>
	    <td></td><td></td><td></td><td></td><td><a class='uk-button uk-button-primary uk-button-mini' href='edit.php?type=add'>添加</a></td>
	  </tr>
	</table>
  </div>
</div>
