<div class='uk-grid'>
<div class='uk-width-7-10 uk-container-center'>
<table class='uk-table uk-table-hover'>
  <?php if($_SESSION['id']!=0) {  echo "<a class='uk-button uk-button-primary' href=edit.php?id=".$row[id].">编辑</a>&nbsp;&nbsp;"; }?><span class='uk-button' onclick="print();">打印</span><a class='uk-button uk-float-right' onclick="history.go(-1);">返回</a>
  <br>
  <h2 class='uk-text-center' ><strong>项目管理表格</strong></h2>
  <tr>
  <td colspan=4><span>建表日期:&nbsp;<em><?php echo $row['date']?></em></span><span class='uk-float-right'>填表人:&nbsp;<em><?php echo $row['author']?></em></span></td>
  </tr>
  <tr>
    <th class='uk-text-center' colspan=4>合同基本情况</th>
  </tr>	
  <tr>
    <td>客户单位</td><td><em><?php echo $row['customer_a']?></td><td>院系、姓名</td><td><em><?php echo $row['customer_b']?></td>
  </tr>
  <tr>
    <td>业务负责人</td><td><em><?php echo $row['salesman']?></td><td>合同金额</td><td><em><?php echo $row['aom']?></td>
  </tr>
  <tr>
    <td>我方签字日期</td><td><em><?php echo $row['mdate']?></td><td>客户签字日期</td><td><em><?php echo $row['ydate']?></td>
  </tr>
  <tr>
    <td>合同签订日期</td><td><em><?php echo $row['cdate']?></td><td>付款方式</td><td><em><?php echo $row['paytype']?></td>
  </tr>
  <tr>
    <td>合同编号</td><td><em><?php echo $row['cnum']?></td><td>项目负责人</td><td><em><?php echo $row['prjman']?></td>
  </tr>
  <tr>
    <td>方案报价</td><td><em><?php echo $row['startom']?></td><td>最终售价</td><td><em><?php echo $row['overom']?></td>
  </tr>
  <tr>
    <td>业务主要沟通人</td><td><em><?php echo $row['tman']?></td><td>辅助人员</td><td><em><?php echo $row['otman']?></td>
  </tr>
  <tr>
    <th class='uk-text-center' colspan=4>下单</th>
  </tr>
  <tr>
    <td>下单编号</td><td><em><?php echo $row['onum']?></td><td>下单日期</td><td><em><?php echo $row['odate']?></td>
  </tr>
  <tr>
    <th class='uk-text-center' colspan=4>发货</th>
  </tr>
  <tr>
    <td>发货日期</td><td><em><?php echo $row['sdate']?></td><td>发货方式/单号</td><td><em><?php echo $row['stype']?></td>
  </tr>
  <tr>
    <td>安装人员</td><td><em><?php echo $row['techman']?></td><td>安装日期</td><td><em><?php echo $row['tdate']?></td>
  </tr>
  <tr>
    <td>验收日期</td><td><em><?php echo $row['checkdate']?></td><td>验收人</td><td><em><?php echo $row['checkman']?></td>
  </tr>
  <tr>
    <th colspan=4 class='uk-text-center'>开票</th>
  </tr>
  <tr>
    <td>开票日期</td><td>开票金额</td><td>发票寄送日期</td><td>发票寄送方式</td>
  </tr>
	<?php 
		$sql = "select * from gt_protablekp where `cid`=$row[id]";
		$query = mysql_query($sql);
		while($srow=mysql_fetch_array($query)){
	?>
  <tr>
    <td><em><?php echo $srow['kdate']?></td><td><em><?php echo $srow['kom']?></td><td><em><?php echo $srow['fsdate']?></td><td><em><?php echo $srow['fstype']?></em></td>
  </tr>
	<?php 
	}
	?>
  <tr>
    <th colspan=4 class='uk-text-center'>收款</th>
  </tr>

  <tr>
    <td>货款应到日期</td><td>货款实到日期</td><td>付款金额</td><td>应收账款</td>
  </tr>
	<?php 
		$ssql = "select * from gt_protablesk where `cid`=$row[id]";
		$squery = mysql_query($ssql);
		while($ssrow=mysql_fetch_array($squery)){
	?>
  <tr>
    <td><em><?php echo $ssrow['gsdate']?></td><td><em><?php echo $ssrow['godate']?></td><td><em><?php echo $ssrow['gom']?></td><td><em><?php echo $ssrow['shom']?></em></td>
  </tr>
	<?php 
	}
	?>
</table>
</div>
<div class='uk-width-7-10 uk-container-center uk-margin-top uk-margin-bottom'>
  <p class='uk-text-center'>艮泰项目管理表格</p>
</div>
</div>
